*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color: #f0fffd;
    background-color: #d6d6d6;
    min-height: 80vh;
    padding: 1em;
 }


/* ===================*/
/*    HEADER/FOOTER   */
/* ===================*/
header,
main,
.modal {
    text-align: center;
}

header {
    font-family: 'Philosopher', sans-serif;
    background-image: linear-gradient(
        160deg,
        hsl(349deg 49% 23%) 0%,
        hsl(349deg 50% 25%) 22%,
        hsl(349deg 51% 27%) 33%,
        hsl(349deg 52% 29%) 42%,
        hsl(349deg 52% 31%) 50%,
        hsl(349deg 53% 33%) 58%,
        hsl(350deg 54% 35%) 67%,
        hsl(350deg 55% 37%) 78%,
        hsl(350deg 55% 39%) 100%
        );
    color: gold;
    padding: 0.75em;
    margin: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3em;
    padding: 2em;
    font-size: 0.75rem;
    background-color: #335C67;
    color: #fcfcfc;
}

footer a:visited {
    color: #e6d4fc;
}

footer a:hover,
footer a:active {
    color: #d4f1fc;
}

.footer-column {
    flex-basis: 40%;
}

/* ====================*/
/*    MONSTER CARDS    */
/* ====================*/

#statblock-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 2em auto;
}

.monster-card {
    border-radius: 8px;
    max-width: 300px;
    color: #04010f;
    box-shadow: 1px 1px 3px 0 #575757;
    background-image: linear-gradient(
        90deg,
        hsl(53deg 17% 90%) 0%,
        hsl(53deg 17% 90%) 13%,
        hsl(52deg 17% 90%) 25%,
        hsl(52deg 16% 90%) 37%,
        hsl(52deg 16% 91%) 50%,
        hsl(51deg 16% 91%) 63%,
        hsl(51deg 15% 91%) 75%,
        hsl(50deg 15% 91%) 87%,
        hsl(50deg 14% 92%) 100%
        );
}

.card-sctn {
    padding: 0.2em 1em;
}

.card-header {
    background-color: #335C67;
    color: #fcfcfc;
    border-radius: 7px 7px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-sctn-dark {
    background-image: linear-gradient(
        90deg,
        hsl(53deg 23% 73%) 0%,
        hsl(51deg 24% 75%) 13%,
        hsl(50deg 25% 77%) 25%,
        hsl(49deg 27% 79%) 37%,
        hsl(49deg 28% 81%) 50%,
        hsl(48deg 30% 83%) 63%,
        hsl(47deg 32% 86%) 75%,
        hsl(46deg 35% 88%) 87%,
        hsl(45deg 38% 90%) 100%
        );
}

.card-sctn-light {
    background-image: linear-gradient(
        90deg,
        hsl(53deg 17% 90%) 0%,
        hsl(53deg 17% 90%) 13%,
        hsl(52deg 17% 90%) 25%,
        hsl(52deg 16% 90%) 37%,
        hsl(52deg 16% 91%) 50%,
        hsl(51deg 16% 91%) 63%,
        hsl(51deg 15% 91%) 75%,
        hsl(50deg 15% 91%) 87%,
        hsl(50deg 14% 92%) 100%
        );
}

.monster-card p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    text-align: left;
}

.monster-card h3 {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
}

.defense-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.defense-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.health-container {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.health-container p {
    text-align: right;
}

.damage-block {
    display: flex;
    justify-content: space-between;
}

.dmg-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 0;
}

.attack-list,
.ability-list,
.nastier-list {
    margin-left: 0;
    margin-top: 0;
    padding-left: 1em;
    text-align: left;
}

.attack-block,
.ability-block {
    font-size: 0.8rem;
}

.ability-block {
    border-radius: 0 0 7px 7px;
}

.mook-container {
    text-align: left;
    border-top: solid 1px #1f1e1e;
    margin-top: 0.5em;
    padding-top: 0.4em;
}

.staggered {
    color: crimson;
}

/* ===================*/
/*      BUTTONS       */
/* ===================*/

.text-btn {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1em 1.75em;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #1b1314;
    cursor: pointer;
}

.text-btn:hover,
.text-btn:focus {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px #1b1314;
}

.text-btn:active {
    transform: scale(0.98);
    box-shadow: 0 0 1px #1b1314;
}

.icon-btn {
    padding: 0.6em 0.4em;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon-btn:hover,
.icon-btn:focus {
    transform: scale(1.18);
}

#main-button-container button {
    margin: 0.5em 1em;
}

#select-monsters-btn {
    background-color: #4f5096;
    color: #fcfcfc;
}

/* @keyframes monster-btn-transition {
    from {
        background-color: #21b5a1;
        color: #1b1314;
    }
    to {
        background-color: #086357;
        color: #fcfcfc;    
    }
}

#select-monsters-btn:hover,
#select-monsters-btn:focus {
    animation-name: monster-btn-transition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
} */

#clear-monsters-btn {
    background-color: #878787;
    color: #fcfcfc;
}

/* @keyframes clear-btn-transition {
    from {
        background-color: #5f7b8c;
    }
    to {
        background-color: #344752;
    }
}

#clear-monsters-btn:hover,
#clear-monsters-btn:focus {
    animation-name: clear-btn-transition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
} */

.dmg-btn-container {
    display: flex;
    align-items: center;
}

.dmg-btn {
    margin-top: 0.5em;
    background-color: #9E2A2B;
    color: #fcfcfc;
} 

.rmvbtn {
    color: #fcfcfc;
    justify-self: flex-end;
}

/* ===================*/
/*       INPUTS       */
/* ===================*/

.dmg-input,
.mooks-input {
    font-size: 1.125rem;
    padding: 0.2em;
    max-width: 75px;
    border-radius: 5px;
    border: 1px solid darkgrey;
    margin-top: 0.2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

/* ===================*/
/*       MODALS       */
/* ===================*/

.modal {
    display: none;
    position: fixed;
    margin: auto;
    top: 20%;
    right: 0;
    left: 0;
    max-width: 600px;
    padding: 1em;
    background-color: #f0f0f0;
    box-shadow: 6px 6px 20px 2px #575757;
    border-radius: 8px;
}

.modal-header {
    display: flex;
    justify-content: right;
}

#close-modal-btn {
    color: #9E2A2B;
}

#level-check-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 1.5em auto;
    gap: 1em;
}

.checkbox-container {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
}

#level-check-container input {
    order: -1;
}

#dropdown-container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto 1.5em;
}

#selected-monsters-list {
    list-style-type: none;
    margin: 0 auto 1.5em;
}

/* ===================*/
/*    MEDIA QUERIES   */
/* ===================*/

@media (min-width: 850px) {
    footer {
        flex-direction: row;
    }
}